.logos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logos-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  & img {
    cursor: pointer;
    margin: 20px;
    padding: 0;
    width: 7vh;
  }
}
